@import "../../variables/variables.scss";
.userCard{
    .card{
        height: 180px;
        @include box-shadow(0px 9px 18px 1px rgb(0 0 0 / 20%));
        .card-title{
            font-size: 16px;
            font-weight: 600;
        }
        .card-subtitle{
            font-size: 12px;
        }
        .card-text{
            font-size: 14px;
        }
    }
}