@import "../../variables/variables.scss";
.custom-button{
    padding: 10px 20px;
    border: 0px;
    color: #fff;
    margin: 10px 20px 10px 0px;
    display: inline-flex;
    @include box-shadow(0px 9px 18px 1px rgb(0 0 0 / 20%));
    @include border-radius(5px);
    &:hover{
        @include box-shadow(0px 9px 18px 1px rgb(0 0 0 / 30%));
        text-decoration: none;
    }
    &:focus{
        outline: none;
    }
    &__icon{
        padding-left: 10px;
    }
}
.button-primary{
    background: #2196f3;
}
.button-error{
    background: rgb(235, 14, 14);
}
.button-disabled{
    background: grey;
}
.button-small{
    padding: 5px 10px;
    font-size: 12px;
}
.button-large{
    font-size: 16px;
}
.button-success{
    background-color: #5cb85c;
}
.button-warning{
    background-color: #f0ad4e;
}
.button-info{
    background-color: #5bc0de;
}
.button-danger{
    background-color: #d9534f;
}