@import "../../variables/variables.scss";
.custom-button{
    padding: 10px 20px;
    border: 0px;
    color: #fff;
    margin: 20px 20px 20px 0px;
    @include box-shadow(0px 9px 18px 1px rgb(0 0 0 / 20%));
    @include border-radius(5px);
    &:hover{
        @include box-shadow(0px 9px 18px 1px rgb(0 0 0 / 30%));
        text-decoration: none;
    }
    &:focus{
        outline: none;
    }
}
.button-primary{
    background: #2196f3;
}
.button-error{
    background: rgb(235, 14, 14);
}
.button-disabled{
    background: grey;
}
.button-small{
    padding: 5px 10px;
    font-size: 12px;
}
.button-large{
    font-size: 16px;
}