.progressive-wrapper{
    padding: 0px 0px 40px;
}
.pwa-code{
    display: block;
    background-color: rgb(41, 45, 62);
    color: rgb(191, 199, 213);
    padding: 15px;
    border-radius: 5px;
}
ul{
    padding-left: 20px;
}
ul li{
    padding: 5px 0px;
}