@import  "../../variables/variables.scss";

.navigation-card{
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include box-shadow(0px 2px 13px 1px rgba(0,0,0,0.1));
    transition: 0.3s ease-in-out;
    text-decoration: none;
    &:hover{
        @include box-shadow(0px 2px 13px 1px rgba(0,0,0,0.3));
        text-decoration: none;
        background: #5cb85c;
        .navigation-card__title{
            color: #fff;
        }
        .navigation-card__count{
            background: #fff;
            color: #000;
        }
    }
    &__title{
        font-size: $fs14;
        font-weight: $fw400;
        color: #000;
        text-decoration: none;
        flex: 1 1 auto;
        transition: 0.3s ease-in-out;
    }
    &__count{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        background: #5cb85c;
        flex: 0 0 auto;
        margin-right: 20px;
        color: #fff;
        font-size: $fs14;
        @include box-shadow(0px 2px 13px 1px rgba(0,0,0,0.1));
        transition: 0.3s ease-in-out;
    }
}
.disabled{
    display: block;
    pointer-events: none;
    opacity: 0.4;
}